@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Playfair+Display:wght@400;500&family=Poppins:wght@500&display=swap');

.sidebar-outer{
    padding: 10px;
}
.sidebar-outer h4{
    font-size: 30px;
}
.col{
    padding: 32px 15px;
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.label-icon{
    display: flex;
    justify-content: space-between;
}
.label-icon h6{
    font-size: 18px;
    font-weight: 600;
}
.mb-3{
    margin-bottom: 0;
}
.form-check {
    display: flex;
    min-height: 1.5rem;
    padding-left: 5.5em;
    margin-bottom: 0.185rem;
}
.form-check .form-check-input {
    float: unset;
    margin-left: -78px;

}

.form-check label{
    font-family: jost;
    font-size: 18px;
    padding: 0;
    font-weight: 550;
}
.special{
    font-family: jost;
    padding: 40px 0;
    text-align: left;
}
.any{
    font-size: 34px;
    font-weight: 700;
    line-height: 3.2rem;
}
.special p{
    font-weight: 400;
    font-size: 20px;
}

.rating{
    margin-top: 16px;
}

@media only screen and (max-width: 1024px) {
    .sidebar-outer{
        padding: 0px;
    }
    .col{
        padding: 0;
    }
    .label-icon h6{
        font-size: 14px;
    }
    .sidebar-outer h4 {
        font-size: 30px;
    }
    
}