@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Playfair+Display:wght@400;500&family=Poppins:wght@500&display=swap');

.content{
}
.sidebar-outer{
    padding: 10px;
}
.sidebar-outer h4{
    font-size: 30px;
}
.label-icon{
    display: flex;
    justify-content: space-between;
}
.label-icon h6{
    color: var(--Blackish-Green, #121);
    padding-bottom: 10px ;
    font-size: 18px;
    font-weight: 600;
}
.terms-label {
    padding-bottom: 30px;
    display: flex;
}
#myCheckbox {

    float: left;
    width: 50px;
}
.form-check {
    display: flex;
    min-height: 1.5rem;
    padding-left: 5.5em;
    margin-bottom: 0.185rem;
}
.form-check .form-check-input {
    float: unset;
    margin-left: -90px;

}
.btn-light {
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #002040;
    background-color: white;
}
.sidebar-column{
    padding: 22px 0;
}
hr{
    margin: 0;
}
.form-check label{
    font-family: jost;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 550;
}
.special{
    font-family: jost;
    padding: 54px 0;
    text-align: left;
}
.any{
    font-size: 24px;
    font-weight: 600;
    line-height: 2.2rem;
}
.special p{
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}
.filter h2{
    text-align: left;
    color: var(--Blackish-Green, #121);
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
}
.rating-side{
    display: flex;
}

@media only screen and (max-width: 1440px) {
    .form-control {
        font-size: 14px;
        padding: 12px;
        margin: 11px 0;
    }
    .sidebar-outer{
        padding: 10px;
    }
    .sidebar-outer h4{
        font-size: 30px;
    }
    .label-icon h6{
        font-size: 18px;
    }
    .form-check {
        min-height: 1.5rem;
        padding-left: 5.5em;
        margin-bottom: 0.185rem;
    }
    .form-check .form-check-input {
        margin-left: -78px;
    }
    .btn-light {
        margin-right: 2px;
    }
    .form-check label{
        font-size: 18px;
        padding: 0;
    }
    .special{
        padding: 40px 0;
    }
    .any{
        font-size: 23px;
        line-height: 2.2rem;
    }
    .special p{
        font-size: 18px;
    }
    
    .rating-side{
        margin-top: 16px;
    }   
}
@media only screen and (max-width: 1024px) {
    .sidebar-outer{
        padding: 10px;
    }
    .sidebar-outer h4{
        font-size: 30px;
    }
    .label-icon h6{
        font-size: 14px;
        font-weight: 600;
    }
    .form-check {
        min-height: 1.5rem;
        padding-left: 5.5em;
        margin-bottom: 0.185rem;
    }
    .form-check .form-check-input {
        margin-left: -78px;
    }
    .btn-light {
        margin-right: 2px;
    }
    .form-check label{
        font-size: 14px;
        padding: 0;
        font-weight: 550;
    }
    .special{
        padding: 40px 0;
    }
    .any{
        font-size: 22px;
        font-weight: 700;
        line-height: 2.2rem;
    }
    .special p{
        font-weight: 400;
        font-size: 18px;
    }
    
    .rating-side{
        margin-top: 16px;
    }   
}
@media only screen and (max-width: 998px) {
    .sidebar-outer{
        padding: 10px;
    }
    .sidebar-outer h4{
        font-size: 30px;
    }
    .label-icon h6{
        font-size: 14px;
        font-weight: 600;
    }
    .form-check {
        min-height: 1.5rem;
        padding-left: 5.5em;
        margin-bottom: 0.185rem;
    }
    .form-check .form-check-input {
        margin-left: -78px;
    }
    .btn-light {
        margin-right: 2px;
    }
    .form-check label{
        font-size: 14px;
        padding: 0;
        font-weight: 550;
    }
    .special{
        padding: 40px 0;
    }
    .any{
        font-size: 17px;
    font-weight: 700;
    line-height: 1.8rem;
    }
    .special p{
        font-weight: 400;
        font-size: 14px;
    }
    
    .rating-side{
        margin-top: 16px;
    } 
    .form-control {
        font-size: 12px;
        padding: 10px;
        margin: 8px 0;
    } 
}