@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Playfair+Display:wght@400;500&family=Poppins:wght@500&display=swap');

.container{
    padding: 0;
}
.enter{
    align-items: center;
    padding: 28px 50px;
    color: black;
    width: 100%;
    margin: 0;
}
.start-date{
    display: flex;
    flex-direction: column;     
}
.end-date{
    display: flex;
    flex-direction: column;
}
input{
    width: 80%;
    float: left;
    font-family: jost;
    width: 180px;
    border-radius: 5px;
    border:1px solid #002040;
    padding: 6px ;
    font-weight: 500;
    font-size: 20px;
}
.form-select{
    width: 60%;
}

.enter label{
    font-family: jost;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;    
    text-align: left;
}
.check-btn{
    width: 100%;
    padding: 14px 30px;
    background-color: #002040;
    color: aliceblue;
    font-family: jost;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.check-btn img{
    padding-left: 10px;
}
.Guest{
    display: flex;
    flex-direction: column;   
}
.drop{
    border:1px solid #002040;
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
}
.react-datepicker-wrapper {
    display: inherit;
}
@media (max-width: 1440px){ 
    input {
        width: 80%;
        font-size: 16px;
    } 
    
    .enter label {
        font-size: 16px;
        padding-bottom: 10px;
    }
   .enter {
       padding: 18px 24px;
       color: black;
       width: 100%;
       margin: 0;
}
.check-btn {
    padding: 8px 11px;
    font-size: 16px;
}
   
.check-btn img {
    padding-left: 4px;
}
.drop {
    width: 60%;
    padding: 6px;
    font-size: 16px;
}
}
@media (max-width: 1024px){ 
    input {
        font-size: 14px;
    } 
   .enter {
       padding:18px 24px;
       color: black;
       width: 100%;
       margin: 0;
    }
   .check-btn {
      padding: 9px 6px;
      font-size: 14px;
    }
   .drop {
     padding: 4px;
     font-size: 14px;
    }
}
@media (max-width: 998px){
   .enter {
       padding:16px 22px;
       color: black;
       width: 100%;
       margin-top: 36px;
       font-size: 14px;
    }
    .enter label {
        font-size: 14px;
        padding-bottom: 3px;
       }
       .check-btn {
        padding: 7px;
        font-size: 14px;
    }
    .check-btn img {
        padding-left: 4px;
        width: 18px;
       }
}
@media (max-width: 768px){ 
    input {
        font-size: 10px;
        padding: 2px;
    }
   .enter {
       padding: 12px 18px;
       color: black;
       width: 100%;
       margin-top: 44px;
    }
   .check-btn {
      padding: 5px 6px;
      font-size: 10px;
    }
   .check-btn img {
     padding-left: 4px;
     width: 14px;
    }
   .enter label {
     font-size: 12px;
     padding-bottom: 3px;
    }
   .drop {
     padding: 2px;
     font-size: 10px;
    }
}
@media (max-width: 567px){ 
    .form-select{
        background-size: 10px 6px;
        background-position: right 0.165rem center
    }
    input {
        font-size: 7px;
        padding: 2px;
        border-radius: 3px;
    }
   .enter {
       padding: 10px 22px;
       color: black;
       width: 100%;
       margin-top: 113px;
       margin-bottom: 25px;
       border-radius: 2px;
    }
   .check-btn {
      padding: 2px 3px;
      font-size: 8px;
      border-radius: 4px;
    }
   .check-btn img {
      padding-left: 1px;
      width: 12px;
    }
   .enter label {
      font-size: 6px;
      padding-bottom: 1px;
    }
   .drop {
      padding: 2px;
      font-size: 8px;
      border-radius: 3px;
    }  
}